<!-- <div class="content">
    <form>
      <br>
      <div class="">
        <label for="">Nama Pengguna</label>
        <br>
        <input type="text" name="nama" />
      </div>
      
      <div class="">
        <label  for=" ">E-mail</label>
        <br>
        <input type="email" name="email" />
      </div>
      
      <div class="">
        <label  for=" ">Sandi</label>
        <br>
        <input type="password" name="password" />
      </div>
      
      <div class="">
        <label  for=" ">Konfirmasi Sandi</label>
        <br>
        <input type="password" name="sandi" />
      </div>
      
      <div class="">
        <label  for=" ">NIK / NPM</label>
        <br>
        <input type="number" name="nik" minlength="10" />
      </div>
      
      
      
      
      
      
      <div class="">
        <button type="button"
          style="display: block; margin: auto; cursor: pointer;">Daftar</button>
      </div> -->