<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/style.css">
    <script src="https://kit.fontawesome.com/fc52830bde.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="header1">
        LULUS SKRIPSI BERSAMA
    </div>
    <div class="header2">
        <div class="topnav">
            <a class="active" href="halaman-utama">Halaman Utama</a>
            <div class="logout">
                <a href="/login">Keluar<i class="fa-solid fa-arrow-right-from-bracket"></i></a>
              </div>
          </div>

        </div>
        <div class="content1">
            content
        </div>
        <div class="notification">
            <h2><i class="fa-solid fa-bell"></i> Notifikasi</h2>
        </div>