<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daftar Akun</title>
  <link rel="stylesheet" href="/SignUp.css">
  <script src="https://kit.fontawesome.com/fc52830bde.js" crossorigin="anonymous"></script>
</head>
<body>
  <h3 style="margin-left:95%; color: white; font-weight: lighter;"> <u>Daftar</u> <i class="fa-solid fa-arrow-right-from-bracket"></i></h3>
  <h1 style="color: white;"><i>LULUSSKIRPSI</i><br><i>BERSAMA</i>
  </h1>
 <div class="container2">
    <div class="header">
      <h2 class="">Masuk</h2>
    </div>
  <div class="content">
    <form>
      <br>
       <div class="">
        <label  for=" ">E-mail</label>
        <br>
        <input type="email" name="email" />
      </div>
      
      <div class="">
        <label  for=" ">Sandi</label>
        <br>
        <input type="password" name="password" />
      </div>
      
      <div class="">
        <button type="button"
          style="display: block; margin: auto; cursor: pointer;">Masuk</button>
      </div>
      
      <p class="">Sudah punya akun? <a href="#!"
          class=""><u>Klik di sini!</u></a></p>
        <p class=""><a href="#!"
            class=""><u>Lupa password?</u></a></p>
    </form>
  </div>
 </div>
  

</body>
</html>